@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

@keyframes loading-bar {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-loading-bar {
  animation: loading-bar 1.5s infinite;
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

.wiggle {
  display: inline-block;
  animation: wiggle 0.5s ease-in-out infinite;
}


.animate-slide-up-head {
  animation: slideUp 0.7s ease-out forwards;
  opacity: 0;
}

.animate-slide-up-recent-post {
  animation: slideUp 1s ease-out forwards;
  opacity: 0;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.capsule {
  display: flex;
  /* justify-content: start; */
  border-radius: 5px;
  background-color: transparent;
  justify-items: end;
  width: 150px;
  padding: 10px;
}

.stack-label {
  display: flex;
  border-radius: 5px;
  justify-items: end;
  padding: 10px;
}
